<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="images/travel.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/avioCompanies">Avio companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hotels">Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/rentACar">Rent a car</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/register" *ngIf="len == 0">Register</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/auth/login" *ngIf="len == 0">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/home" (click)="logOut()" *ngIf="len > 0">Logout</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['/users', username]" *ngIf="len > 0">{{username}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container contact-form">
    <div class="contact-image">
        <img src="images/edit.png" alt="edit" />
    </div>
    <form (ngSubmit)="onSubmit()">
        <h3>Edit Hotel</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" [(ngModel)]="hotel.name" name="txtName" class="form-control" placeholder="Naziv *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="hotel.description" name="txtPhone" class="form-control" placeholder="Promotivni opis" value=""
                    />
                </div>
                <div class="form-group">
                    <input type="submit" class="ad-btn" value="Save" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid padding">
                <div class="row welcome text-centre">
                    <div class="col-12">
                        <h1 class="display-4">Room</h1>
                        <button type="button" class="ad-btn" (click)="toggleAdd()">Add new room</button>
                        <hr>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="showAddDiv" class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" [(ngModel)]="roomToAdd.number" name="txtAdd1" class="form-control" placeholder="Room number *" value=""
                    />
                </div>
                <div class="form-group">
                    <input type="number" min="1" [(ngModel)]="roomToAdd.price" name="txtAdd2" class="form-control" placeholder="Price *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="roomToAdd.description" name="txtAdd3" class="form-control" placeholder="Desctioption" value=""
                    />
                </div>
                <div class="form-group">
                    <input type="number" min="1" [(ngModel)]="roomToAdd.bedNumber" name="txtAdd3" class="form-control" placeholder="Number of beds" value=""
                    />
                </div>
                <button type="button" class="ad-btn" (click)="addRoom()">Add</button>
            </div>
        </div>

        <div class="row" id="ads">
            <div class="col-md-4" *ngFor="let room of rooms">
                <div class="card rounded">
                    <div class="card-image">
                        <span class="card-notify-badge">{{room.price}}</span>
                        <!-- <span class="card-notify-year">yearproduced</span> -->
                        <img class="img-fluid" src="images/hotel-room.jpg" alt="Alternate Text" />
                    </div>
                    <div class="card-image-overlay m-auto">
                        <span class="card-detail-badge">Number of beds {{room.bedNumber}}</span>
                      </div>
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">
                            <h5>Room {{room.number}}</h5>
                        </div>
                        <button type="button" class="ad-btn" (click)="hideRoom(room.id)">Remove</button>
                        <button type="button" class="ad-btn" (click)="toggleUpdate(room.id)">Update</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="showUpdateDiv" class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" [(ngModel)]="roomToUpdate.number" name="txtUpdate1" class="form-control" placeholder="Room number *" value=""
                    />
                </div>
                <div class="form-group">
                    <input type="number" min="1" [(ngModel)]="roomToUpdate.price" name="txtUpdate2" class="form-control" placeholder="Price *" value=""
                    />
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="roomToUpdate.description" name="txtUpdate3" class="form-control" placeholder="Desctioption" value=""
                    />
                </div>
                <div class="form-group">
                    <input type="number" min="1" [(ngModel)]="roomToUpdate.bedNumber" name="txtUpdate2" class="form-control" placeholder="Number of beds" value=""
                    />
                </div>
                <button type="button" class="ad-btn" (click)="updateRoom()">Update</button>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid padding">
                <div class="row welcome text-centre">
                    <div class="col-12">
                        <h1 class="display-4">Hotel menu items</h1>
                        <button type="button" class="ad-btn" (click)="toggleAddItem()">Add new item</button>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="showAddItemDiv" class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" [(ngModel)]="itemToAdd.serviceName" name="txtAdd1" class="form-control" placeholder="Service name *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" min="1" [(ngModel)]="itemToAdd.price" name="txtAdd2" class="form-control" placeholder="Price *"
                        value="" />
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="itemToAdd.description" name="txtAdd3" class="form-control" placeholder="Desctioption *" value=""
                    />
                </div>
                <button type="button" class="ad-btn" (click)="addItem()">Add</button>
            </div>
        </div>



        <div class="row" *ngFor="let item of menu">
            <div class="col-md-6">
                <label>{{item.serviceName}}</label>
                <button type="button" class="ad-btn" (click)="hideItem(item.id)">Remove</button>
                <hr>
            </div>
            <div class="col-md-6">
                <p>Price : {{item.price}}e</p>
                <button type="button" class="ad-btn" (click)="toggleUpdateItem(item.id)">Update</button>
                <hr>
            </div>
            <hr>
        </div>

        <!---->
        <div *ngIf="showUpdateItemDiv" class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" [(ngModel)]="itemToUpdate.serviceName" name="txtUpdates1" class="form-control" placeholder="Service name *" value=""
                    />
                </div>
                <div class="form-group">
                    <input type="number" [(ngModel)]="itemToUpdate.price" name="txtUpdates12" class="form-control" placeholder="Price *"
                        value="" />
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="itemToUpdate.description" name="txtUpdates13" class="form-control" placeholder="Desctioption *"
                        value="" />
                </div>
                <button type="button" class="ad-btn" (click)="updateItem()">Update</button>
            </div>
        </div>


    </form>
</div>