<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="images/travel.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/avioCompanies">Avio companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hotels">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rentACar">Rent a car</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/register" *ngIf="len == 0">Register</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/auth/login" *ngIf="len == 0">Login</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home" (click)="logOut()" *ngIf="len > 0">Logout</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" *ngIf="len > 0">{{username}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid jumbo">
  <div class="container">
    <!-- SLIKA -->
  </div>
</div>

<div class="container-fluid padding">
  <div class="row welcome text-centre">
    <div class="col-12">
      <h1 class="display-4">Avio companies</h1>
      <hr>
      <div class="col-12">
        <p class="lead">List of all avio companies</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-4">
      <h1>Search</h1>
      <hr>
      <form>
        <div class="form-group">
          <label for="name1">Name:</label>
          <input type="text" class="form-control" id="name1" placeholder="Enter name"> 

          <label for="country1">Country</label>
          <input type="text" class="form-control" id="country1" placeholder="Enter country">

          <label for="city1">City</label>
          <input type="text" class="form-control" id="city1" placeholder="Eneter city">
          
          <label for="rooms1">Rooms</label>
          <input class="form-control" type="number" value="1" id="rooms1">

          <label for="guests1">Guests</label>
          <input class="form-control" type="number" value="1" id="guests1">
          <hr>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>

    <div class="col-md-8">
      <div *ngFor="let avio of avioCompanies">
        <div class="jumbotron jumbo-hotel">
          <h1 class="display-4"> {{avio.name}}</h1>
          <hr>
          <p class="lead"> {{avio.address.country + ','}} 
            {{avio.address.city}} </p>
          <p class="lead"> {{avio.address.street}}
               {{avio.address.number}}  
          </p>
          <p class="lead">
              <a [routerLink]="['/avioCompanies', avio.id]" class="btn btn-outline-secondary btn-lg" role="button">See more</a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
