<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="images/travel.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    </div>
  </nav>
  
  
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
      <label for="tab-1" class="tab">Sign In</label>
      <div class="login-form">
        <form (ngSubmit)="changePassword()">
  
          <div class="sign-in-htm">
            <div class="group">
              <label for="passOld" class="label">Old password:</label>
              <input id="passOld" name="passwordOldTb" [(ngModel)]="oldPassword" type="password" class="input" data-type="password">
            </div>
            <div class="group">
              <label for="passNew" class="label">New password</label>
              <input id="passNew" name="passwordNewTb" [(ngModel)]="newPassword" type="password" class="input" data-type="password">
            </div>
            <div class="group">
              <input type="submit" class="button" value="Change">
            </div>
            <div class="hr"></div>
          </div>
        </form>
      </div>
    </div>
  </div>