<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="images/travel.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/avioCompanies">Avio companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hotels">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rentACar">Rent a car</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid padding">
  <div class="row welcome text-centre">
    <div class="col-12">
      <h1 class="display-4">Welcome to project ISA</h1>
      <hr>
      <div class="col-12">
        <p class="lead">You have successfully activated your profile!</p>
      </div>
      <div class="col-12">
        <p class="lead">Please login to contiue! </p>
      </div>
    </div>
  </div>
</div>



<img src="images/checked.png" class="checked">
