<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="images/travel.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/avioCompanies">Avio companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hotels">Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/rentACar">Rent a car</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/register" *ngIf="len == 0">Register</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/auth/login" *ngIf="len == 0">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/home" (click)="logOut()" *ngIf="len > 0">Logout</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" *ngIf="len > 0">{{username}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="http://s1.1zoom.me/b5751/555/Alfa_Romeo_2017_Stelvio_Quadrifoglio_Worldwide_Red_539851_1920x1080.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5 *ngIf="rentACar">
                        {{rentACar.name}}
                    </h5>
                    <h6 *ngIf="rentACar">
                        {{rentACar.addressDTO.street + ' '}} {{rentACar.addressDTO.number}}
                    </h6>
                    <h6 *ngIf="rentACar">
                        {{rentACar.addressDTO.city + ', '}} {{rentACar.addressDTO.country}}
                    </h6>
                    <p class="proile-rating">Average rating :
                        <span>{{avgRatingRentCar}}/5</span>
                    </p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cenovnik</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Filijale</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" *ngIf="showAdminControls" routerLink="/rentACar/edit/{{id}}">Edit Profile</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <h3>Description</h3>
                    <p *ngIf="rentACar">{{rentACar.description}}</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row" *ngFor="let item of menu">
                            <div class="col-md-6">
                                <label>{{item.serviceName}}</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{item.price}}e</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row" *ngFor="let branch of branches">
                            <div class="col-md-6">
                                <label>{{branch.name}}</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{branch.addressDTO.street + ' '}} {{branch.addressDTO.number + ', '}} {{branch.addressDTO.city
                                    + ', '}} {{branch.addressDTO.country}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="container" *ngIf="flight != undefined" style="align-content: center; width: -1000px;">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Enter parameters </h3>
                    </div>
                    <div class="panel-body">
                        <form (ngSubmit)="search()">
                            <div class="row">
                                <div class="col">
                                    <label for="date1">Take date</label>
                                </div>
                                <div class="col">
                                    <input type="date" [(ngModel)]="startDateSearch" class="form-control" name="dateFrom" id="date1">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label for="date1">Return date</label>
                                </div>
                                <div class="col">
                                    <input type="date" [(ngModel)]="endDateSearch" class="form-control" name="dateTo" id="date1">
                                </div>
                            </div>

                            <div class="form-group">
                                <select name="roles" class="form-control input-sm" [(ngModel)]="vehicleTypeSearch" id="role1" required>
                                    <option value="CAR" selected="true">Car</option>
                                    <option value="BIKE">Bike</option>
                                    <option value="QUAD">Quad</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="number" min="1" [(ngModel)]="numberOfPassengersSearch" name="email" id="broj" class="form-control input-sm"
                                    placeholder="Number of passengers">
                            </div>

                            <input type="submit" value="Search" class="btn btn-info btn-block">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid padding">
        <div class="row welcome text-centre">
            <div class="col-12">
                <h1 class="display-4">Vehicles</h1>
                <hr>
                <div class="col-12">
                    <p class="lead">List of all vehicles</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="ads">
        <!-- Category Card -->
        <div class="col-md-4" *ngFor="let vehicle of vehicles">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">{{vehicle.yearProduced}}</span>
                    <img class="img-fluid" *ngIf="vehicle.type === 'CAR'" src="images/carVehicleType2.jpg" alt="Alternate Text" />
                    <img class="img-fluid" *ngIf="vehicle.type === 'BIKE'" src="images/bikeVehicleType2.jpg" alt="Alternate Text" />
                    <img class="img-fluid" *ngIf="vehicle.type === 'QUAD'" src="images/quadVehicleType.jpg" alt="Alternate Text" />
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>{{vehicle.mark + ' '}} {{vehicle.model}}</h5>
                        <h6>{{vehicle.price}} e</h6>
                    </div>
                    <button class="ad-btn" (click)="makeReservation(vehicle)" *ngIf="searchClicked">Add</button>
                </div>
                <div class="card-body">
                    <p>
                        Number of seats: {{vehicle.seatsNumber}}
                    </p>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="container-fluid" *ngIf="flight != undefined">
        <div class="col-md-8">
            <h2>Skip vehicle reservation</h2>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" routerLink="/final-reservation">Next</button>
        </div>
    </div>

    <div class="container-fluid padding">
        <div class="row welcome text-centre">
            <div class="col-12">
                <h1 class="display-4">Find us on map</h1>
                <hr>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px;">
            <iframe [src]='trustedUrl' frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div *ngIf="showAdminControls">
        <h3>Generisanje izvestaja</h3>
        <div class="row">
            <div class="col">
                <label for="date1">Pocetni datum</label>
            </div>
            <div class="col">
                <label for="date1">Krajnji datum</label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="date" [(ngModel)]="startDate" class="form-control" name="dateFrom" id="date1">
            </div>
            <div class="col">
                <input type="date" [(ngModel)]="endDate" class="form-control" name="dateTo" id="date1">
            </div>
        </div>

        <button class="btn btn-primary" *ngIf="showAdminControls" (click)="generateReport()">Generate report</button>
    </div>

    <div *ngIf="showReport" class="row">
        <div class="col">
            <p>{{report.avgRatingReport}}</p>
            <p>{{report.prihodPerioda}}</p>
            <div *ngFor="let vehicle of report.vehicleReports">
                {{vehicle}}
            </div>
        </div>
    </div>
</div>