<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="images/travel.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item " *ngIf="adminHotel == false && adminRent == false">
          <a class="nav-link" routerLink="/avioCompanies">Avio companies</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home" (click)="logOut()" *ngIf="len > 0">Logout</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" *ngIf="len > 0">{{username}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-4">
      <div class="left">
        <div *ngIf="select == false">
          <div>
            <hr>
            <label>Avio companies:</label>
            <br>
            <label>Select avio company for editing.</label>
            <hr>
          </div>
          <select id="avioCompany" name="avioCompany" [(ngModel)]="id" class="form-control">

            <option *ngFor="let avioCom of avioCompanies" [value]="avioCom.id">
              {{avioCom.name}}
            </option>
            <hr>
          </select>
          <hr>
          <div *ngIf="id">
            <button type="button" class="btn btn-outline-primary"
              (click)="select = true; setAvioCompany(id)">Select</button>
          </div>
        </div>
        <hr>
        <div *ngIf="addFlightFlag == true && editFlight == false" class="form-group">
          <div class="row padding">
            <div class="col-sm-6">
              <label style="font-weight:bold;">Add Flight </label>
            </div>
          </div>
          <hr>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Start Location: </label>
            </div>
            <div class="col-sm-8">
              <select [(ngModel)]="inputStartLocation" style="width: 250px;">
                <option *ngFor="let destination of destinations" [value]="destination.id" style="width: 150px;">
                  {{destination.city}}, {{destination.country}}
                </option>
              </select>
              <br>
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">End Location: </label>
            </div>
            <div class="col-sm-8">
              <select [(ngModel)]="inputEndLocation" style="width: 250px;">
                <option *ngFor="let destination of destinations" [value]="destination.id" style="width: 150px;">
                  {{destination.city}}, {{destination.country}}
                </option>
              </select>
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Time start: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputDateTimeStart" type="datetime-local" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Time finish: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputDateTimeFinish" type="datetime-local" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Distance: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputDistance" style="width: 250px;" type="text" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Duration: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputDuration" style="width: 250px;" type="text" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Price: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputPrice" style="width: 250px;" type="text" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Economy class seats: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputEconomy" style="width: 250px;" type="number" min=0 class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Business class seats: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputBusiness" style="width: 250px;" type="number" min=0 class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">First class seats: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputFirst" style="width: 250px;" type="text" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-3 col-md-2 col-5">
              <button type="button" class="btn btn-outline-primary" (click)="addFlight()">Add</button>
            </div>
            <div class="col-md-3 col-2">

            </div>
            <div class="col-sm-3 col-md-2 col-5">
              <button type="button" class="btn btn-outline-danger" (click)="addFlightFlag = false">Cancel</button>
            </div>
          </div>
        </div>

        <div *ngIf="editFlight == true && addFlightFlag == false" class="form-group">
          <div class="row padding">
            <div class="col-sm-6">
              <label style="font-weight:bold;">Edit Flight </label>
            </div>
          </div>
          <hr>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Start Location: </label>
            </div>
            <div class="col-sm-8">
              <select [(ngModel)]="inputStartLocation" style="width: 250px;">
                <option *ngFor="let destination of destinations" [value]="destination.id" style="width: 150px;">
                  {{destination.city}}, {{destination.country}}
                </option>
              </select>
              <br>
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">End Location: </label>
            </div>
            <div class="col-sm-8">
              <select [(ngModel)]="inputEndLocation" style="width: 250px;">
                <option *ngFor="let destination of destinations" [value]="destination.id" style="width: 150px;">
                  {{destination.city}}, {{destination.country}}
                </option>
              </select>
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Time start: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputDateTimeStart" style="width: 250px;" type="datetime-local" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Time finish: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputDateTimeFinish" style="width: 250px;" type="datetime-local" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Distance: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputDistance" style="width: 250px;" type="text" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Duration: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputDuration" style="width: 250px;" type="text" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Price: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputPrice" min="0" style="width: 250px;" type="text" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Economy class: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputEconomy" style="width: 250px;" type="number" min="0" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">Business class: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputBusiness" style="width: 250px;" type="number" min="0" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-4">
              <label style="font-weight:bold;">First class: </label>
            </div>
            <div class="col-sm-8">
              <input [(ngModel)]="inputFirst" style="width: 250px;" type="number" min="0" class="input">
            </div>
          </div>
          <hr>
          <div class="row padding">
            <div class="col-sm-3 col-md-2 col-5">
              <button type="button" class="btn btn-outline-primary" (click)="saveChangedFlight()">Save</button>
            </div>
            <div class="col-md-3 col-2">

            </div>
            <div class="col-sm-3 col-md-2 col-5">
              <button type="button" class="btn btn-outline-danger" (click)="discardChangedFlight()">Discard</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="container emp-profile">
        <form method="post">
          <div class="row">
            <div class="col-sm-4">
              <div class="profile-img">
                <img src="http://www.sclance.com/pngs/admin-png/admin_png_17260.png" alt="" />

              </div>
            </div>
            <div class="col-md-6">
              <div class="profile-head">
                <h3>
                  Admin: {{username}}
                </h3>
                <h4>
                  Avio Company: {{avioCompany.name}}
                </h4>
                <h5>
                  <button *ngIf="select == true" type="button" class="btn btn-outline-primary"
                    (click)="select = false">Choose
                    another company</button>
                </h5>
              </div>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="avioCompanyInfo-tab" data-toggle="tab" href="#avioCompanyInfo" role="tab"
                  aria-controls="avioCompanyInfo" aria-selected="true">Avio Company Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " id="destinations-tab" data-toggle="tab" href="#destinations" role="tab"
                  aria-controls="destinations" aria-selected="true">Destinations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="flights-tab" data-toggle="tab" href="#flights" role="tab"
                  aria-controls="flights" aria-selected="true">Flights</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="myProfile-tab" data-toggle="tab" href="#myProfile" role="tab"
                  aria-controls="myProfile" aria-selected="true">My Profile</a>
              </li>

            </ul>
            <br>
            <!--tabs-->

            <div class="tab-content ml-1" id="myTabContent">
              <!--avio company tab-->
              <div class="tab-pane fade show active" id="avioCompanyInfo" role="tabpanel"
                aria-labelledby="avioCompanyInfo-tab">
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Name:</label>
                  </div>
                  <div class="col-md-8 col-6">
                    <div *ngIf="editAvioCompany == true">
                      <input *ngIf="changedAvioComapny" [(ngModel)]="inputName" type="text" class="input">
                    </div>
                    <div *ngIf="editAvioCompany == false">
                      <label *ngIf="avioCompany">{{avioCompany.name}}</label>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Address:</label>
                  </div>
                  <div class="col-md-8 col-6">
                    <div>
                      <label *ngIf="avioCompany"> {{addressOfAvioCompany.street}}
                        {{addressOfAvioCompany.number}} </label>
                      <br>
                      <label *ngIf="avioCompany"> {{addressOfAvioCompany.city}}
                        {{addressOfAvioCompany.postalCode}} {{addressOfAvioCompany.country}}</label>
                    </div>
                  </div>
                </div>
                <hr />

                <div class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Average rating:</label>
                  </div>
                  <div class="col-md-8 col-6">
                    <div>
                      <label *ngIf="avioCompany">{{avioCompany.averageRating}}</label>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Description:</label>
                  </div>
                  <div class="col-md-8 col-6">
                    <div *ngIf="editAvioCompany == true">
                      <input *ngIf="changedAvioComapny" [(ngModel)]="inputDescription" type="text" class="input">
                    </div>
                    <div *ngIf="editAvioCompany == false">
                      <label *ngIf="avioCompany">{{avioCompany.description}}</label>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-8 col-6">
                    <button type="button" class="btn btn-outline-danger" (click)="editAvioCompany = true">Edit</button>
                  </div>
                </div>
                <hr />
                <div *ngIf="editAvioCompany == true" class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <button type="button" class="btn btn-outline-danger"
                      (click)="saveChangedAvioCompany()">Save</button>
                  </div>
                  <div class="col-sm-8 col-6">
                    <button type="button" class="btn btn-outline-danger"
                      (click)="discardChangedAvioCompany()">Discard</button>
                  </div>
                </div>
              </div>
              <!--destinations-->
              <div class="tab-pane fade" id="destinations" role="tabpanel" aria-labelledby="destinations-tab">
                <div>
                  <div class="row">
                    <div class="col-md-2">
                      <button type="button" class="btn btn-outline-primary"
                        (click)="addDestinationFlag = true">Add</button>
                    </div>
                  </div>

                  <div *ngIf="addDestinationFlag == true" class="form-group">
                    <div class="jumbotron">
                      <!-- country city postalCode-->
                      <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Country:</label>
                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <input [(ngModel)]="inputCountry" style="width: 200px;" type="text" class="input">
                          </div>
                        </div>

                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">City:</label>
                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <input [(ngModel)]="inputCity" style="width: 200px;" type="text" class="input">
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Postal Code:</label>
                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <input [(ngModel)]="inputPostalCode" style="width: 200px;" type="text" class="input">
                          </div>
                        </div>
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Street:</label>
                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <input [(ngModel)]="inputStreet" style="width: 200px;" type="text" class="input">
                          </div>
                        </div>
                      </div>

                      <!-- Street number remove-->
                      <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Number:</label>
                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <input [(ngModel)]="inputNumber" style="width: 200px;" type="text" class="input">
                          </div>
                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <button type="button" class="btn btn-outline-primary"
                              (click)="addDestination()">Save</button>
                          </div>

                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <button type="button" class="btn btn-outline-danger"
                              (click)="addDestinationFlag = false">Cancel</button>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                </div>
                <div *ngFor="let destination of destinations">
                  <div class="jumbotron">
                    <!-- country city postalCode-->
                    <div class="row">
                      <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Country:</label>
                      </div>
                      <div class="col-md-3 col-2">
                        <div>
                          <label *ngIf="destination">{{destination.country}}</label>
                        </div>
                      </div>

                      <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">City:</label>
                      </div>
                      <div class="col-md-3 col-2">
                        <div>
                          <label *ngIf="destination">{{destination.city}}</label>
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Postal Code:</label>
                      </div>
                      <div class="col-md-3 col-2">
                        <div>
                          <label *ngIf="destination">{{destination.postalCode}}</label>
                        </div>
                      </div>
                      <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Street:</label>
                      </div>
                      <div class="col-md-3 col-2">
                        <div>
                          <label *ngIf="destination">{{destination.street}}</label>
                        </div>
                      </div>
                    </div>

                    <!-- Street number remove-->
                    <div class="row">
                      <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Number:</label>
                      </div>
                      <div class="col-md-3 col-2">
                        <div>
                          <label *ngIf="destination">{{destination.number}}</label>
                        </div>
                      </div>
                      <div class="col-md-3 col-2">
                        <div>
                          <button type="button" class="btn btn-outline-danger"
                            (click)="removeDestination(destination.id)">Remove</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--flights-->
              <div class="tab-pane fade" id="flights" role="tabpanel" aria-labelledby="flights-tab">
                <div>
                  <div class="row">
                    <div class="col-md-2">
                      <button type="button" class="btn btn-outline-primary" (click)=" resetInput() ">Add</button>
                    </div>
                  </div>
                  <div *ngFor="let flight of flights">
                    <div class="jumbotron">
                      <!-- FROM - TO-->
                      <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">From:</label>
                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <label *ngIf="flight">{{flight.startLocation.city}}</label>
                          </div>
                        </div>

                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">To:</label>
                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <label *ngIf="flight">{{flight.endLocation.city}}</label>
                          </div>
                        </div>
                      </div>
                      <!--Start finish time-->
                      <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Start time:</label>
                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <label type="datetime-local" *ngIf="flight">
                              {{flight.dateTimeStart | date: 'medium'}}</label>
                          </div>
                        </div>

                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Finish time:</label>
                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <label *ngIf="flight">{{flight.dateTimeFinish | date: 'medium'}}</label>
                          </div>
                        </div>
                      </div>
                      <!--Distance duration-->
                      <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Distance:</label>
                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <label *ngIf="flight">{{flight.flightDistance}}</label>
                          </div>
                        </div>

                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Duration:</label>
                        </div>
                        <div class="col-md-3 col-2">

                          <div>
                            <label *ngIf="flight">{{flight.flightDuration}}</label>
                          </div>
                        </div>
                      </div>
                      <!--price edit-->
                      <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Price:</label>
                        </div>
                        <div class="col-md-3 col-2">
                          <div>
                            <label *ngIf="flight">{{flight.price | currency : 'EUR'}} </label>
                          </div>
                        </div>
                        <div class="col-sm-3 col-md-2 col-5">
                          <button type="button" class="btn btn-outline-primary"
                            (click)="editFlight = true; addFlightFlag = false; setflight(flight)">Edit</button>
                        </div>
                        <div class="col-sm-3 col-md-2 col-5">
                          <button type="button" class="btn btn-outline-danger"
                            (click)="removeFlight(flight.id)">Remove</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col -sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Seats:</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3 col-2">
                          <div>
                            <label *ngIf="flight"> Economy: {{flight.economyClassSeats }} </label>
                          </div>
                          <div>
                            <label *ngIf="flight"> Business: {{flight.businessClassSeats }} </label>
                          </div>
                          <div>
                            <label *ngIf="flight"> First: {{flight.firstClassSeats }} </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--my profile-->
              <div class="tab-pane fade" id="myProfile" role="tabpanel" aria-labelledby="myProfile-tab">
                <div class="row">
                  <h2 class="d-block" style="font-size: 1.0rem; font-weight: bold">
                    <button type="button" class="btn btn-outline-primary" (click)="editAdmin = true">Change
                      data
                    </button>
                  </h2>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Username:</label>
                  </div>
                  <div class="col-md-8 col-6">
                    <div>
                      <label *ngIf="admin">{{admin.username}}</label>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Name:</label>
                  </div>
                  <div class="col-md-8 col-6">
                    <div *ngIf="editAdmin == true">
                      <input *ngIf="changedUser" [(ngModel)]="inputNameAdmin" type="text" class="input">
                    </div>
                    <div *ngIf="editAdmin == false">
                      <label *ngIf="admin">{{admin.name}}</label>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Last Name:</label>
                  </div>
                  <div class="col-md-8 col-6">
                    <div *ngIf="editAdmin == true">
                      <input *ngIf="changedUser" [(ngModel)]="inputLastName" type="text" class="input">
                    </div>
                    <div *ngIf="editAdmin == false">
                      <label *ngIf="admin">{{admin.lastName}}</label>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">E-Mail:</label>
                  </div>
                  <div class="col-md-8 col-6">
                    <div *ngIf="editAdmin == true">
                      <input *ngIf="changedUser" [(ngModel)]="inputEmail" type="email" class="input">
                    </div>
                    <div *ngIf="editAdmin == false">
                      <label *ngIf="admin">{{admin.email}}</label>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">City:</label>
                  </div>
                  <div class="col-md-8 col-6">
                    <div *ngIf="editAdmin == true">
                      <input *ngIf="changedUser" [(ngModel)]="inputCityAdmin" type="text" class="input">
                    </div>
                    <div *ngIf="editAdmin == false">
                      <label *ngIf="admin">{{admin.city}}</label>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Telephone number:</label>
                  </div>
                  <div class="col-md-8 col-6">
                    <div *ngIf="editAdmin == true">
                      <input *ngIf="changedUser" [(ngModel)]="inputTelephoneNumber" type="number" class="input">
                    </div>
                    <div *ngIf="editAdmin == false">
                      <label *ngIf="admin">{{admin.telephoneNumber}}</label>
                    </div>
                  </div>
                </div>
                <hr />
                <div *ngIf="editAdmin == true" class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <button type="button" class="btn btn-outline-primary" (click)="saveChangedData()">Save</button>
                  </div>
                  <div class="col-sm-8 col-6">
                    <button type="button" class="btn btn-outline-danger" (click)="discardChangedData()">Discard</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>