<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="images/travel.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item " *ngIf="adminHotel == false && adminRent == false">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item " *ngIf="adminHotel == false && adminRent == false">
          <a class="nav-link" routerLink="/avioCompanies">Avio companies</a>
        </li>
        <li class="nav-item" *ngIf="adminRent == false">
          <a class="nav-link" routerLink="/hotels">Hotels</a>
        </li>
        <li class="nav-item" *ngIf="adminHotel == false">
          <a class="nav-link" routerLink="/rentACar">Rent a car</a>
        </li>
        <li class="nav-item " *ngIf="adminRent == false && adminHotel == false && user == false">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item " *ngIf="adminRent == false && adminHotel == false && user == false">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
        <li class="nav-item " *ngIf="adminRent == true || adminHotel == true || user == true">
          <a class="nav-link" routerLink="/home" (click)="logOut()"
            >Logout</a>
        </li>

        <li class="nav-item " *ngIf="adminRent == true">
          <a class="nav-link" [routerLink]="['/admin-rent', username]" >{{username}}</a>
        </li>
        <li class="nav-item " *ngIf="adminHotel == true">
          <a class="nav-link" [routerLink]="['/admin-hotel', username]" >{{username}}</a>
        </li>
        <li class="nav-item " *ngIf="user == true">
          <a class="nav-link" [routerLink]="['/users', username]" >{{username}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid jumbo">
  <div class="container">
    <!-- SLIKA -->
  </div>
</div>

<div class="container-fluid padding">
  <div class="row welcome text-centre">
    <div class="col-12">
      <h1 class="display-4">Hotels</h1>
      <hr>
      <div class="col-12">
        <p class="lead">List of all hotels</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-4">
      <h1>Search hotels</h1>
      <hr>

      <form (ngSubmit)="search()">
        <div class="form-group">

          <label for="name1">Hotel name:</label>
          <input type="text" class="form-control" [(ngModel)]="nameSearch" id="name1" name="name" placeholder="Enter name">

          <label for="country1">Country</label>
          <input type="text" class="form-control" [(ngModel)]="countrySearch" id="country1" name="country" placeholder="Enter country">

          <label for="city1">City</label>
          <input type="text" class="form-control" [(ngModel)]="citySearch" id="city1" name="city" placeholder="Eneter city">

          <div class="row">
            <div class="col">
              <label for="date1">Check in</label>
            </div>
            <div class="col">
              <label for="date1">Check out</label>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label *ngIf="flight != undefined">{{startDate}}</label>
              <input *ngIf="flight == undefined" type="date" [(ngModel)]="startDate" class="form-control" name="dateFrom" id="date1">
            </div>
            <div class="col">
              <input type="date" [(ngModel)]="endDate" class="form-control" name="dateTo" id="date1">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <div class="col" *ngIf="flight != undefined">
                <button class="btn btn-primary"  routerLink="/rentACar">Next</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-8">
      <div *ngFor="let hotel of hotels | hotelPipe: nameSearch:countrySearch:citySearch">
        <div class="jumbotron jumbo-hotel">
          <h1 class="display-4"> {{hotel.name}}</h1>
          <hr>
          <p class="lead"> {{hotel.addressDTO.country + ','}} {{hotel.addressDTO.city}} </p>
          <p class="lead"> {{hotel.addressDTO.street}} {{hotel.addressDTO.number}}
          </p>
          <div class="row">
            <div class="col">
              <p class="lead">
                <a [routerLink]="['/hotels', hotel.id]" class="btn btn-outline-secondary btn-lg" role="button">See more</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>