<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/home">
			<img src="images/travel.png">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item ">
					<a class="nav-link" routerLink="/home">Home</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" routerLink="/avioCompanies">Avio companies</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/hotels">Hotels</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/rentACar">Rent a car</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" routerLink="/register">Register</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" routerLink="/auth/login">Login</a>
				</li>
				<!-- <li class="nav-item ">
					<a class="nav-link" routerLink="/home" (click)="logOut()" *ngIf="len > 0">Logout</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" *ngIf="len > 0">{{username}}</a>
				</li> -->
			</ul>
		</div>
	</div>
</nav>


<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked>
		<label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="for-pwd">
		<label for="tab-2" class="tab">Forgot Password</label>
		<div class="login-form">
			<form (ngSubmit)="onSubmit()">

				<div class="sign-in-htm">
					<div class="group">
						<label for="user" class="label">Username</label>
						<input id="user" name="userTb" [(ngModel)]="loginRequest.username" type="text" class="input">
					</div>
					<div class="group">
						<label for="pass" class="label">Password</label>
						<input id="pass" name="passwordTb" [(ngModel)]="loginRequest.password" type="password" class="input" data-type="password">
					</div>
					<div class="group">
						<input type="submit" class="button" value="Sign In">
					</div>
					<div class="hr"></div>
				</div>
			</form>
		</div>

	</div>
</div>