<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="images/travel.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/avioCompanies">Avio companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hotels">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rentACar">Rent a car</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/register" *ngIf="len == 0">Register</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/auth/login" *ngIf="len == 0">Login</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home" (click)="logOut()" *ngIf="len > 0">Logout</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" *ngIf="len > 0">{{username}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid jumbo">
  <div class="container">

  </div>
</div>

<div class="container-fluid padding">
  <div class="row welcome text-centre">
    <div class="col-12">
      <h1 class="display-4">Rent a cars</h1>
      <hr>
      <div class="col-12" *ngIf="router.url == '/rentACar'">
        <p class="lead">List of all rent a cars</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid padding" *ngIf="router.url == '/rentACar'">
  <div class="row padding">
    <div class="col-md-4">
      <h1>Search</h1>
      <hr>
      <form (ngSubmit)="search()">
        <div class="form-group">
          <label for="name1">Name of rent-a-car service:</label>
          <input type="text" class="form-control" [(ngModel)]="name" name="n0" placeholder="Enter name here...">

          <label for="country1">Start date</label>
          <br>
          <label *ngIf="flight != undefined">{{start}}</label> 
          <input  *ngIf="flight == undefined" type="date" class="form-control" [(ngModel)]="start" name="n1">
          <br>
          <label for="city1">End date</label>
          <input type="date" class="form-control" [(ngModel)]="end" name="n2">

          <label for="city1">Country</label>
          <input type="text" class="form-control" [(ngModel)]="address.country" name="n3" placeholder="Enter here...">

          <label for="city1">City</label>
          <input type="text" class="form-control" [(ngModel)]="address.city" name="n4" placeholder="Enter here...">

          <label for="city1">Street</label>
          <input type="text" class="form-control" [(ngModel)]="address.street" name="n5" placeholder="Enter here...">

          <label for="city1">Number</label>
          <input type="number" class="form-control" min="0" [(ngModel)]="address.number" name="n6" placeholder="Enter here...">

          <hr>
          <div class="row">
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
            
            <span> </span>
            <div class="col-md-8">
              <button type="button" (click)="restore()" class="btn btn-primary">Restore</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-8">
      <div *ngFor="let car of rentACars">
        <div class="jumbotron jumbo-hotel">
          <h1 class="display-4"> {{car.name}} </h1>
          <hr>
          <p class="lead"> {{car.addressDTO.country + ','}} {{car.addressDTO.city}} </p>
          <p class="lead"> {{car.addressDTO.street}} {{car.addressDTO.number}}
          </p>

          <p class="lead">
            <button class="btn btn-outline-secondary btn-lg" [routerLink]="['/rentACar', car.id]">See more</button>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>