<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="images/travel.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item " *ngIf="adminHotel == false && adminRent == false">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item " *ngIf="adminHotel == false && adminRent == false">
          <a class="nav-link" routerLink="/avioCompanies">Avio companies</a>
        </li>
        <li class="nav-item" *ngIf="adminRent == false">
          <a class="nav-link" routerLink="/hotels">Hotels</a>
        </li>
        <li class="nav-item" *ngIf="adminHotel == false">
          <a class="nav-link" routerLink="/rentACar">Rent a car</a>
        </li>
        <li class="nav-item " *ngIf="adminRent == false && adminHotel == false && user == false">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item " *ngIf="adminRent == false && adminHotel == false && user == false">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
        <li class="nav-item " *ngIf="adminRent == true || adminHotel == true || user == true">
          <a class="nav-link" routerLink="/home" (click)="logOut()"
            >Logout</a>
        </li>

        <li class="nav-item " *ngIf="adminRent == true">
          <a class="nav-link" [routerLink]="['/admin-rent', username]" >{{username}}</a>
        </li>
        <li class="nav-item " *ngIf="adminHotel == true">
          <a class="nav-link" [routerLink]="['/admin-hotel', username]" >{{username}}</a>
        </li>
        <li class="nav-item " *ngIf="user == true">
          <a class="nav-link" [routerLink]="['/users', username]" >{{username}}</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="https://wallpapersite.com/images/wallpapers/airplane-4200x2608-aircraft-air-travel-4k-1028.jpg" alt="" />

        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h3 *ngIf="avioCompany">
            {{avioCompany.name}}
          </h3>
          <h6 *ngIf="avioCompany">
            {{avioCompany.address.street + ' '}} {{avioCompany.address.number}}
          </h6>
          <h6 *ngIf="avioCompany">
            {{avioCompany.address.city + ', '}} {{avioCompany.address.country}}
          </h6>
          <p class="proile-rating">Average rating :
            <span>{{avgRatingAvio}}/5</span>
          </p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cenovnik</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Filijale</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <h3>Description</h3>
          <p *ngIf="avioCompany">{{avioCompany.description}}</p>
          <br />
        </div>
      </div>
      <div class="col-md-8">
        
      </div>
    </div>
  </form>

  <div class="container-fluid padding">
    <div class="row welcome text-centre">
      <div class="col-12">
        <h1 class="display-4">Flights</h1>
        <hr>
        <div class="col-12">
          <p class="lead">List of all flights</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div *ngFor="let flight of flights">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-4">
            <h4>{{flight.startLocation.city + ' - '}} {{flight.endLocation.city}}</h4>
            <hr>
            <h5> {{flight.dateTimeStart | date: 'medium'}} - {{flight.dateTimeFinish | date: 'medium'}}</h5>
          </div>
          <div class="col-md-4">
            <h4>Distance: {{flight.flightDistance}}km</h4>
            <hr>
            <h5>Duration: {{flight.flightDuration}}h</h5>
          </div>
          <div class="col-md-4">
            <h4 class="display-5">{{flight.price}}e</h4>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row welcome text-centre">
      <div class="col-12">
        <h1 class="display-4">Find us on map</h1>
        <hr>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px;">
      <iframe [src]='trustedUrl' frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <div *ngIf="showAdminControls">
    <h3>Generisanje izvestaja</h3>
    <div class="row">
      <div class="col">
        <label for="date1">Pocetni datum</label>
      </div>
      <div class="col">
        <label for="date1">Krajnji datum</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="date" [(ngModel)]="startDateMy" class="form-control" name="dateFrom" id="date1">
      </div>
      <div class="col">
        <input type="date" [(ngModel)]="endDateMy" class="form-control" name="dateTo" id="date1">
      </div>
    </div>

    <button class="btn btn-primary" *ngIf="showAdminControls" (click)="generateReport()">Generate report</button>
  </div>


  <div *ngIf="showReport" class="row">
    <div class="col">
      <p>{{report.avgRatingReport}}</p>
      <p>{{report.prihodPerioda}}</p>
      <div *ngFor="let flight of report.flightReports">
        {{flight}}
      </div>
    </div>
  </div>


</div>