<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
    <br>
    <h4>Lista vozila za iznajmljivanje</h4>
	<br>
	<div class="row" id="ads">
    <!-- Category Card -->
    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">Popust</span>
                <span class="card-notify-year">yearproduced</span>
                <img class="img-fluid" src="images/carVehicleType.jpg" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">Slobodan</span>
                <span class="card-detail-badge">Cena</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Marka + model + name</h5>
                </div>
                <a class="ad-btn" href="#">Rezervisi</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">20%</span>
                <span class="card-notify-year">2017</span>
                <img class="img-fluid" src="images/bikeVehicleType.jpg" alt="Alternate Text" /></div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">Slobodan</span>
                <span class="card-detail-badge">$28,000.00</span>
                <span class="card-detail-badge">13000 Kms</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Honda CIVIC HATCHBACK LS</h5>
                </div>
                <a class="ad-btn" href="#">View</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">40%</span>
                <span class="card-notify-year">2018</span>
                <img class="img-fluid" src="images/quadVehicleType.jpg" alt="Alternate Text" /></div>
                
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">Zauzet</span>
                <span class="card-detail-badge">$22,000.00</span>
                <span class="card-detail-badge">8000 Kms</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Honda Accord Hybrid LT</h5>
                </div>
                <a class="ad-btn" href="#">View</a>
            </div>
        </div>
    </div>

</div>
</div>