  <div class="jumbotron jumbotron-fluid jumbo">
    <div class="container">
      
    </div>
  </div>
  
  <div class="container-fluid padding">
      <div class="row welcome text-centre">
        <div class="col-12" >
          <h1 class="display-4">Get your tickets</h1>
          <hr>
          <div class="col-12">
            <p class="lead">Make your dream jourey right now!</p>
    
          </div>
        </div>
      </div>
    </div>
  
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="images/plane.jpg">
          <div class="card-body">
            <h4 class="card-title">Flights</h4>
            <p>Something about reservation of flights</p>
            <a href="#" class="btn btn-outline-secondary">See flights</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="images/hotel-room.jpg">
          <div class="card-body">
            <h4 class="card-title">Hotels</h4>
            <p>Something about reservation of hotels</p>
            <a routerLink="/hotels" class="btn btn-outline-secondary">See hotels</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="images/car.jpg">
          <div class="card-body">
            <h4 class="card-title">Rent a car</h4>
            <p>Something about renting a car</p>
            <a routerLink="/rentACar" class="btn btn-outline-secondary">See rent a car</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
