.jumbo {
    background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2018/07/05/105312566-1530803740357gettyimages-815863456.1910x1000.jpeg);
    height: 30em;
    background-size: 100%, 100%;
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.padding{
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.active {
    font-size: 1.2em;
}