<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="images/travel.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/avioCompanies">Avio companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hotels">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rentACar">Rent a car</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/register" *ngIf="len == 0">Register</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/auth/login" *ngIf="len == 0">Login</a>
        </li>
        <li class="nav-item " *ngIf="username">
          <a class="nav-link" routerLink="/home" (click)="logOut()" >Logout</a>
        </li>
        <li class="nav-item " *ngIf="username">
          <a class="nav-link" [routerLink]="['/users', username]" >{{username}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<div class="jumbotron jumbotron-fluid jumbo">
  <div class="container">

  </div>
</div>

<div class="container-fluid padding">
  <div class="row welcome text-centre">
    <div class="col-12">
      <h1 class="display-4">Get your tickets</h1>
      <hr>
      <div class="col-12">
        <p class="lead">Make your dream jourey right now!</p>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="images/plane.jpg">
        <div class="card-body">
          <h4 class="card-title">Avio companies</h4>
          <p>Something about avio companies</p>
          <a routerLink="/avioCompanies" class="btn btn-outline-secondary">See avio companies</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="images/hotel-room.jpg">
        <div class="card-body">
          <h4 class="card-title">Hotels</h4>
          <p>Something about reservation of hotels</p>
          <a routerLink="/hotels" class="btn btn-outline-secondary">See hotels</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="images/car.jpg">
        <div class="card-body">
          <h4 class="card-title">Rent a car</h4>
          <p>Something about renting a car</p>
          <a routerLink="/rentACar" class="btn btn-outline-secondary">See rent a car</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!----><router-outlet></router-outlet>

<div *ngIf="len > 0">
  <app-user-history></app-user-history>
</div>
